/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap'); */
/* Remore font import if codes are ready for production */

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* Style for form conatiner */
.signup_container{
    display: flex; 
    justify-content: center; 
    align-items: center; 

    width: 100%;
    min-height: 100vh; 
    margin: 0; 
}

/*Style for half side of the site  */
.half_filler_signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    max-width: 50%;
    padding: 20px;
}
  
.half_filler_signup h3 {
    font-size: 52px; 
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-style: 'SemiBold';
    color: black;
}
  
.half_filler_signup p {
      font-size: 18px; 
      color: #666
}

.form_content_signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form_main_signup{
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    width: 600px;
    height: 800px;
    padding: 9px;
    padding-top: 25px;
    padding-bottom: 50px;
}

.input_container_signup{
    padding: 15px; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    width: 75%; 
    height: 8%;
    font-size: 18px; 
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
}

.button_signup {
    width: 75%;
    height: 8%;
    padding: 12px 20px; 
    border: none; 
    border-radius: 4px; 
    margin-top: 0px;
    font-size: 18px;
    color: white;
    background-color: #3A5A40;
    transition: background-color 0.2s ease-in-out;
    &:hover{
        background-color: #588157;
    }
}

.form_content_signup p{
    font-size: 12px;
}